SignalPlotter/Service References/PmwLatencyService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7791/PmwLatencyService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LatencyService.Model" />
  <xs:element name="LatestLatency">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LatestLatencyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LatencyService.Model" minOccurs="0" name="LatestLatencyResult" type="q1:LatestData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ema">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EmaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmaResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>