SignalPlotter/Service References/PmwLatencyService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LatencyService.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LatencyService.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7791/PmwLatencyService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="LatestData">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="ema" type="tns:LatencySample" />
      <xs:element minOccurs="0" name="latest" type="tns:LatencySample" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LatestData" nillable="true" type="tns:LatestData" />
  <xs:complexType name="LatencySample">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="rttMs" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="status" type="tns:SampleStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LatencySample" nillable="true" type="tns:LatencySample" />
  <xs:simpleType name="SampleStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Nonexistent" />
      <xs:enumeration value="TimedOut" />
      <xs:enumeration value="Good" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SampleStatus" nillable="true" type="tns:SampleStatus" />
</xs:schema>