SignalPlotter/Service References/PmwLatencyService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LatencyService.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LatencyService.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7791/PmwLatencyService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="LatestData">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="ema" type="xs:long" />
      <xs:element minOccurs="0" name="maxLatency" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="minLatency" nillable="true" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LatestData" nillable="true" type="tns:LatestData" />
</xs:schema>