SignalPlotter/Service References/PmwGpsService/GpsServiceHost.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GpsServiceHost" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IGpsServiceContract_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:7789/PmwGpsService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:7789/PmwGpsService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:7789/PmwGpsService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GpsService.Model" />
      <xsd:import schemaLocation="http://localhost:7789/PmwGpsService/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DotSpatial.Positioning" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGpsServiceContract_IsConnected_InputMessage">
    <wsdl:part name="parameters" element="tns:IsConnected" />
  </wsdl:message>
  <wsdl:message name="IGpsServiceContract_IsConnected_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsConnectedResponse" />
  </wsdl:message>
  <wsdl:message name="IGpsServiceContract_GetLatest_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLatest" />
  </wsdl:message>
  <wsdl:message name="IGpsServiceContract_GetLatest_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLatestResponse" />
  </wsdl:message>
  <wsdl:message name="IGpsServiceContract_GpsTime_InputMessage">
    <wsdl:part name="parameters" element="tns:GpsTime" />
  </wsdl:message>
  <wsdl:message name="IGpsServiceContract_GpsTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:GpsTimeResponse" />
  </wsdl:message>
  <wsdl:message name="IGpsServiceContract_GpsPosition_InputMessage">
    <wsdl:part name="parameters" element="tns:GpsPosition" />
  </wsdl:message>
  <wsdl:message name="IGpsServiceContract_GpsPosition_OutputMessage">
    <wsdl:part name="parameters" element="tns:GpsPositionResponse" />
  </wsdl:message>
  <wsdl:message name="IGpsServiceContract_Altitude_InputMessage">
    <wsdl:part name="parameters" element="tns:Altitude" />
  </wsdl:message>
  <wsdl:message name="IGpsServiceContract_Altitude_OutputMessage">
    <wsdl:part name="parameters" element="tns:AltitudeResponse" />
  </wsdl:message>
  <wsdl:message name="IGpsServiceContract_Satellites_InputMessage">
    <wsdl:part name="parameters" element="tns:Satellites" />
  </wsdl:message>
  <wsdl:message name="IGpsServiceContract_Satellites_OutputMessage">
    <wsdl:part name="parameters" element="tns:SatellitesResponse" />
  </wsdl:message>
  <wsdl:portType name="IGpsServiceContract">
    <wsdl:operation name="IsConnected">
      <wsdl:input wsaw:Action="http://tempuri.org/IGpsServiceContract/IsConnected" message="tns:IGpsServiceContract_IsConnected_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGpsServiceContract/IsConnectedResponse" message="tns:IGpsServiceContract_IsConnected_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLatest">
      <wsdl:input wsaw:Action="http://tempuri.org/IGpsServiceContract/GetLatest" message="tns:IGpsServiceContract_GetLatest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGpsServiceContract/GetLatestResponse" message="tns:IGpsServiceContract_GetLatest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GpsTime">
      <wsdl:input wsaw:Action="http://tempuri.org/IGpsServiceContract/GpsTime" message="tns:IGpsServiceContract_GpsTime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGpsServiceContract/GpsTimeResponse" message="tns:IGpsServiceContract_GpsTime_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GpsPosition">
      <wsdl:input wsaw:Action="http://tempuri.org/IGpsServiceContract/GpsPosition" message="tns:IGpsServiceContract_GpsPosition_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGpsServiceContract/GpsPositionResponse" message="tns:IGpsServiceContract_GpsPosition_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Altitude">
      <wsdl:input wsaw:Action="http://tempuri.org/IGpsServiceContract/Altitude" message="tns:IGpsServiceContract_Altitude_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGpsServiceContract/AltitudeResponse" message="tns:IGpsServiceContract_Altitude_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Satellites">
      <wsdl:input wsaw:Action="http://tempuri.org/IGpsServiceContract/Satellites" message="tns:IGpsServiceContract_Satellites_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGpsServiceContract/SatellitesResponse" message="tns:IGpsServiceContract_Satellites_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IGpsServiceContract" type="tns:IGpsServiceContract">
    <wsp:PolicyReference URI="#NetTcpBinding_IGpsServiceContract_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="IsConnected">
      <soap12:operation soapAction="http://tempuri.org/IGpsServiceContract/IsConnected" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatest">
      <soap12:operation soapAction="http://tempuri.org/IGpsServiceContract/GetLatest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GpsTime">
      <soap12:operation soapAction="http://tempuri.org/IGpsServiceContract/GpsTime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GpsPosition">
      <soap12:operation soapAction="http://tempuri.org/IGpsServiceContract/GpsPosition" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Altitude">
      <soap12:operation soapAction="http://tempuri.org/IGpsServiceContract/Altitude" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Satellites">
      <soap12:operation soapAction="http://tempuri.org/IGpsServiceContract/Satellites" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GpsServiceHost">
    <wsdl:port name="NetTcpBinding_IGpsServiceContract" binding="tns:NetTcpBinding_IGpsServiceContract">
      <soap12:address location="net.tcp://localhost:7788/PmwGpsService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:7788/PmwGpsService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>PHILIPANDSUE\pmw_000</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>