SignalPlotter/Service References/PmwGpsService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DotSpatial.Positioning" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DotSpatial.Positioning" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7789/PmwGpsService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Position3D">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="xs:schema" />
      <xs:any />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Position3D" nillable="true" type="tns:Position3D" />
  <xs:complexType name="Position">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="xs:schema" />
      <xs:any />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Position" nillable="true" type="tns:Position" />
  <xs:complexType name="Distance">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="xs:schema" />
      <xs:any />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Distance" nillable="true" type="tns:Distance" />
</xs:schema>