SignalPlotter/Service References/PmwGpsService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7789/PmwGpsService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GpsService.Model" />
  <xs:import schemaLocation="http://localhost:7789/PmwGpsService/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DotSpatial.Positioning" />
  <xs:element name="IsConnected">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsConnectedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsConnectedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLatest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLatestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GpsService.Model" minOccurs="0" name="GetLatestResult" type="q1:LatestGpsData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GpsTime">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GpsTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GpsTimeResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GpsPosition">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GpsPositionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DotSpatial.Positioning" minOccurs="0" name="GpsPositionResult" type="q2:Position" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Altitude">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AltitudeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DotSpatial.Positioning" minOccurs="0" name="AltitudeResult" type="q3:Distance" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Satellites">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SatellitesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SatellitesResult" type="xs:unsignedShort" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>