SignalPlotter/Service References/PmwGpsService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GpsService.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GpsService.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7789/PmwGpsService/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DotSpatial.Positioning" />
  <xs:import schemaLocation="http://localhost:7789/PmwGpsService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="LatestGpsData">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DotSpatial.Positioning" minOccurs="0" name="position" type="q1:Position3D" />
      <xs:element minOccurs="0" name="satellites" type="xs:unsignedShort" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DotSpatial.Positioning" minOccurs="0" name="speed5sec" type="q2:Speed" />
      <xs:element minOccurs="0" name="time" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LatestGpsData" nillable="true" type="tns:LatestGpsData" />
</xs:schema>